* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}
:root {
  --primary-bg-color: #a5de44;
  --secondary-bg-color: #4ea52f;
  --primary: #368f2a;
  --secondary: #ffffff;

  --base-1: #eeeeee;
  --base-2: #dddddd;
  --base-3: #cccccc;
  --base-4: #aaaaaa;
  --base-5: #bbbbbb;

  --navbar-bg-color: red;
  --navlink-hover-color: darkgray;
  --navlink-active-color: black;
  --line-color: lightgray;
}



.whyus {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0;
  align-items: center;
}

.whyus-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}