.navbar{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.nav-button{
  padding-inline: 1rem !important;
}
